<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p id="notice"><%= notice %></p>

<div class="container">
  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg' %>
  <br>
  <br>
  <% if @articles.present? %>
    <%= render @articles %>
  <% else %>
    <p class="alert alert-warning alert-dismissable fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      <strong>Warning!</strong> There are no articles containing the term(s) <%= params[:search] %>.
    </p>
  <% end %>
</div>