<div class="container">
  <div class="card card-block text-xs-center">
    <h1>Welcome to Lanh Hoang's blog</h1>
    <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_1440,q_90,w_720/v1/158015/icon-ruby-on-rail_at0q3q.png">
    <p>Click the button below to see more detail</p>
    <a class="btn btn-primary" href="/articles" role="button" >Blog</a>
  </div>
</div>
